<footer class="footer py-5">
    <div class="container">
        <h2 class="title mb-5">Get in Touch</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="footer-title">Company</h5>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="footer-title">Categories</h5>
                <ul class="footer-links">
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">PC Builds</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="footer-title">Quick Links</h5>
                <ul class="footer-links">
                    <li><a href="#">Latest Products</a></li>
                    <li><a href="#">PC Builds</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="footer-title">Follow Us</h5>
                <ul class="footer-links">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i> YouTube</a></li>
                </ul>
            </div>
        </div>

        <div class="text-center footer-bottom mt-4">
        © 2025 All Rights Reserved.
        </div>
    </div>
</footer>

